html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16pt;
  color: #eeeeee;
}


.wrapper {
  width: 90vw;
  height: 70vh;
  display: grid;
  margin: 5vh auto 0vh auto;
  justify-content: center;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-gap: 0.5rem;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-areas:
    "Box1 Box1 Box1 Box1 Box2 Box2 Box2 Box3 Box3 Box3"
    "Box1 Box1 Box1 Box1 Box2 Box2 Box2 Box3 Box3 Box3"
    "Box1 Box1 Box1 Box1 Box2 Box2 Box2 Box3 Box3 Box3"
    "Box1 Box1 Box1 Box1 Box4 Box4 Box5 Box5 Box5 Box5"
    "Box6 Box6 Box7 Box7 Box4 Box4 Box5 Box5 Box5 Box5"
    "Box6 Box6 Box7 Box7 Box8 Box8 Box5 Box5 Box5 Box5"
    "Box9 Box9 Box9 Box9 Box8 Box8 Box5 Box5 Box5 Box5"
    "Box9 Box9 Box9 Box9 Box10 Box10 Box10 Box11 Box11 Box11"
    "Box9 Box9 Box9 Box9 Box10 Box10 Box10 Box11 Box11 Box11"
    "Box9 Box9 Box9 Box9 Box10 Box10 Box10 Box11 Box11 Box11"
}

.wrapper .grid-box {
  transistion: all 2s;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.32);
  animation: fadein 0.25s ease-out normal backwards;

}

.wrapper .box-1 {
  background: red;
  grid-area: Box1;
  animation-delay: 0;
  display: flex;
  justify-content: space-around;
  padding: 1rem 1rem 1rem 1rem;
  flex-wrap: wrap;
}

.wrapper .box-1 .grid-box-child {
  font-size: 5pt;
  background: white;
  height: 25%;
  width: 25%;

}

.wrapper .box-2 {
  background: green;
  grid-area: Box2;
  animation-delay: 100ms;
}

.wrapper .box-3 {
  background: blue;
  grid-area: Box3;
  animation-delay: 150ms;
}

.wrapper .box-4 {
  background: yellow;
  grid-area: Box4;
  animation-delay: 180ms;
}

.wrapper .box-5 {
  background: pink;
  grid-area: Box5;
  animation-delay: 200ms;
}

.wrapper .box-6 {
  background: black;
  grid-area: Box6;
  animation-delay: 240ms;
}

.wrapper .box-7 {
  background: magenta;
  grid-area: Box7;
  animation-delay: 300ms;
}

.wrapper .box-8 {
  background: cyan;
  grid-area: Box8;
  animation-delay: 270ms;
}

.wrapper .box-9 {
  background: lightgrey;
  grid-area: Box9;
  animation-delay: 260ms;
}

.wrapper .box-10 {
  background: lightblue;
  grid-area: Box10;
  animation-delay: 320ms;
}

.wrapper .box-11 {
  background: darkgreen;
  grid-area: Box11;
  animation-delay: 100ms;
}

@keyframes fadein {

  0% {transform: scale(0);}
  80% {transform: scale(1.03);}
  100% {transform: scale(1);}

}
