<div class="container">
    <form action="/output1" method="POST">
        <div class="group">
            <input type="text" class="form-control" name="name" id="name">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Name</label>
            <input type="email" class="form-control" name="email" id="email">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email address</label>
        </div>
        <div>
            <input type="text" class="datepicker" name=date_of_birth>
            <label>Geburtsdatum</label>
        </div>
        <button type="submit" class="btn btn-primary">next</button>
    </form>
</div>
