<div class="container">
    <form action="/output2" method="POST">
        <div class="group">
            <p>
                <label>
                    <input type="checkbox" class="filled-in" name="check[]" value="application" id="application>" />
                    <span>I have already an application</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" class="filled-in" name="check[]" value="xing_account" id="xing_account>" />
                    <span>I have already a xing account</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" class="filled-in" name="check[]" value="best" id="best>" />
                    <span>I am the best</span>
                </label>
            </p>
            <br>
            <br>
            <p>
                <label>
                    <input type="radio" name="assesement_month" value="juni" id="juni" checked />
                    <span>Juni</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="radio" name="assesement_month" value="juli" id="juli" />
                    <span>Juli</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="radio" name="assesement_month" value="august" id="august" />
                    <span>August</span>
                </label>
            </p>
            <div class="input-field col s12">
                <select name="gender">
                    <option value="" disabled selected>Choose your gender</option>
	                <option value="männlich">Männlich</option>
	                <option value="weiblich">Weiblich</option>
	                <option value="andere">Andere</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">next</button>
    </form>
</div>
