<div class="container">
  <form action="/output_final" method="POST">
    <div class="group">
      <input type="tel" class="form-control" name="phone_number" id="phone_number">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Phone</label>
    </div>
    <div class="group">
      <input type="tel" class="form-control" name="age" id="age">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Age</label>
    </div>
    <div class="group">
      <input type="tel" class="form-control" name="degree" id="degree">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Degree</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
