
<div class="wrapper">
    <div class="header">
        <img src="images/Logo_Standard.svg" alt="" id="xing-logo">
        <img src="images/mentormonth_logo.png" alt="" id="mentormonth-logo">
    </div>
    <div class="title-pic">
        <div class="landing-title">
            <h2>XING Mentor Month</h2>
            <p>
                Ein kostenloses Bewerbungstraining <br>
                für Geflüchtete
            </p>
        </div>
            <a href="/form1">
            <button type="button" class="apply-button">Jetzt anmelden</button>
            </a>
    </div>
    <div class="main-text">

        <h1>WAS?</h1>
        <p>
            Mentor Month ist eine Trainingsreihe,
            die einen Überblick darüber gibt,
            was bei Bewerbungen im deutschen
            Arbeitsmarkt zu beachten ist und über
            kulturelle Besonderheiten informiert
        </p>
        <h1>WER?</h1>
        <p>
            Geflüchtete, die sicher deutsch
            sprechen, studiert haben oder sich
            gerade im Studium befinden und auf der
            Suche nach einem Job sind, in dem sie
            ihr volles Potential ausschöpfen können
        </p>
        <h1>WANN?</h1>
        <p>
            Der XING Mentor Month findet jeden Dienstag
            eines Monats von 16:00 - 20:00 Uhr statt.
            Es gibt den XING Mentor Month 6x jährlich.
        </p>
        <h1>WO?</h1>
        <p>
            Das Training findet im XING Office in der
            Dammtorstraße 30 in Hamburg statt.
            Melde dich einfach bei der Rezeption.
            Informationen zur Anfahrt findest du
            außerdem im FAQ
        </p>
    </div>
    <div class="slider">
        <div class="single-item">
            <div>
                <div class="carousel-left">
                    <img src="images/carousel.png" class="carousel-image">
                </div>
                <div class="carousel-right">
                    <p>
                    “The Xing Mentor Month Training really helped me
                    show my strength and find a job that fits to my skills.”
                    Hassan Tbetu, Syria
                </p>
                </div>
            </div>
            <div>
                <div class="carousel-left">
                    <img src="images/carousel.png" class="carousel-image">
                </div>
                <div class="carousel-right">
                    “The Xing Mentor Month Training really helped me
                    show my strength and find a job that fits to my skills.”
                    Hassan Tbetu, Syria
                </div>
            </div>
            <div>
                <div class="carousel-left">
                    <img src="images/carousel.png" class="carousel-image">
                </div>
                <div class="carousel-right">
                    “The Xing Mentor Month Training really helped me
                    show my strength and find a job that fits to my skills.”
                    Hassan Tbetu, Syria
                </div>
            </div>
            <div>
                <div class="carousel-left">
                    <img src="images/carousel.png" class="carousel-image">
                </div>
                <div class="carousel-right">
                    “The Xing Mentor Month Training really helped me
                    show my strength and find a job that fits to my skills.”
                    Hassan Tbetu, Syria
                </div>
            </div>
        </div>
    </div>
    <div class="icons">
        <h1>INHALTE</h1>
        <button class="accordion"><span>Interkulturelle Sensibilisierung </span></button>
        <div class="panel">
            <p>Welche Unterschiede gibt es zwischen deinem Herkunftsland und Deutschland? </br>
            Welche Konflikte können dabei auch im Arbeitsalltag auftreten? </br>
            Welche Stärken und Möglichkeiten können durch die Unterschiede entstehen?
            </p>
        </div>
        <button class="accordion"><span>Individuelle Bewerbungsunterlagen</span></button>
        <div class="panel">
            <p>Gemeinsam mit unseren erfahrenen MitarbeiterInnen zeigen wir dir,
            wie du Bewerbungsunterlagen erstellst. Unabhängig von einzelnen
            Fachrichtungen kannst du sie in der Zukunft an neue Stellenausschreibungen
            anpassen. Wir werden deine persönlichen Stärken herausarbeiten und
            dir helfen, diese bestmöglich zu präsentieren.
            </p>
        </div>
        <button class="accordion"><span>Praxisnahes Interviewtraining</span></button>
        <div class="panel">
            <p>Sprich mit PersonalmitarbeiterInnen und lerne von ihnen,
            wie du deine bisherigen Erfahrungen in einem Bewerbungsgespräch
            am besten darstellst. Erfahre, wie die Entscheidung für oder gegen
            eine(n) BewerberIn getroffen wird und lerne,
            klassische Fehler zu vermeiden.
            </p>
        </div>
    </div>
    <div class="apply">
        <a href="/form1">
        <button type="button" class="apply-button">Jetzt anmelden</button>
        </a>
    </div>
    <div class="date">
        <h1>TERMINE</h1>
        <div class="multiple-items">
            <div>
                <div class="multiple-items-content">
                    <p>
                        14. <br>
                        April
                    </p>
                </div>
            </div>
            <div>
                <div class="multiple-items-content">
                    <p>
                        28. <br>
                        April
                    </p>
                </div>
            </div>
            <div>
                <div class="multiple-items-content">
                    <p>
                        14. <br>
                        Mai
                    </p>
                </div>
            </div>
            <div>
                <div class="multiple-items-content">
                    <p>
                        14. <br>
                        September
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="faq">
        <h1>FAQ</h1>
        <button class="accordion"><span>Wie ist der Mentor Month entstanden?</span></button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>
        <button class="accordion"><span>Muss ich mich vorbereiten?</span></button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>
        <button class="accordion"><span>Wie viele Teilnehmer wird es außer mir geben?</span></button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>
        <button class="accordion"><span>Wie komme ich zum XING Office?</span></button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>
        <button class="accordion"><span>Was ziehe ich am besten an?</span></button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>
        <button class="accordion"><span>Wie geht es nach dem Mentor Month weiter?</span></button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>
        <button class="accordion"><span>Warum ist die Bewerbung so ausführlich?</span></button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>
    </div>
    <div class="contact">
        <p>
            Noch Fragen?</br>
            Ruf einfach an, oder schreib uns!</br>
            Max Mustermann</br>
            +49 175 7893749</br>
            Max.muster@xing.de
        </p>
    </div>
    <div class="footer">
        <p>Impressum | AGB | Datenschutz | Sicherheit | Sprache: Deutsch</br>
        &copy; XING SE | Alle Rechte vorbehalten</p>
    </div>
</div>
