


<div class="carousel-top-wrapper">
    <div class="carousel">
        <div class="single-item">
            <div>
                <div class="carousel-left">
                    <img src="images/carousel.png" class="carousel-image">
                </div>
                <div class="carousel-right">
                    “The Xing Mentor Month Training really helped me
                    show my strength and find a job that fits to my skills.”
                    Hassan Tbetu, Syria
                </div>
            </div>
            <div>
                <div class="carousel-left">
                    <img src="images/carousel.png" class="carousel-image">
                </div>
                <div class="carousel-right">
                    “The Xing Mentor Month Training really helped me
                    show my strength and find a job that fits to my skills.”
                    Hassan Tbetu, Syria
                </div>
            </div>
            <div>
                <div class="carousel-left">
                    <img src="images/carousel.png" class="carousel-image">
                </div>
                <div class="carousel-right">
                    “The Xing Mentor Month Training really helped me
                    show my strength and find a job that fits to my skills.”
                    Hassan Tbetu, Syria
                </div>
            </div>
            <div>
                <div class="carousel-left">
                    <img src="images/carousel.png" class="carousel-image">
                </div>
                <div class="carousel-right">
                    “The Xing Mentor Month Training really helped me
                    show my strength and find a job that fits to my skills.”
                    Hassan Tbetu, Syria
                </div>
            </div>
        </div>
    </div>
</div>

<div class="button-wrapper">
    <a href="/form1">
    <button type="button" class="apply-button">Bewerben</button>
    </a>
</div>

<div class="collapsible-list-wrapper">
    <button class="accordion">Section 1</button>
    <div class="panel">
        <p>Lorem ipsum...</p>
    </div>
    <button class="accordion">Section 2</button>
    <div class="panel">
        <p>Lorem ipsum...</p>
    </div>
    <button class="accordion">Section 3</button>
    <div class="panel">
        <p>Lorem ipsum...</p>
    </div>
</div>

<div class="carousel-bottom-wrapper">
    
        <div class="multiple-items">
            <div>
                <div class="multiple-items-content">
                    1 <br>
                    27.03.2018
                </div>
            </div>
            <div>
                <div class="multiple-items-content">
                    2 <br>
                    27.03.2018
                </div>
            </div>
            <div>
                <div class="multiple-items-content">
                    3 <br>
                    27.03.2018
                </div>
            </div>
            <div>
                <div class="multiple-items-content">
                    4 <br>
                    27.03.2018
                </div>
            </div>
        </div>

</div>
