html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 15pt;
}


.wrapper {
  width: 90vw;
  height: 70vh;
  display: grid;
  margin: 5vh auto 0vh auto;
  justify-content: center;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  grid-template-rows: 15vh 25vh 25vh 80vh 25vh;
  grid-template-areas:
    "sidebar header header header header header"
    "sidebar pagetitle pagetitle pagetitle pagetitle pagetitle"
    "sidebar picturebox1 picturebox1 divider picturebox2 picturebox2"
    "sidebar textbox textbox textbox textbox textbox"
    "footer footer footer footer footer footer"


}


.wrapper .header {
  grid-area: header;
  background: blue;
  color: pink;

}

.wrapper .sidebar {
  grid-area: sidebar;
  background: grey;
  animation-delay: 0ms;
}

.wrapper .pagetitle {
  grid-area: pagetitle;
  background: red;
  align-items: center;
  animation-delay: 100ms;
}


.wrapper .picturebox1 {
  grid-area: picturebox1;
  background: green;
  animation-delay: 200ms;
}

.wrapper .picturebox2 {
  grid-area: picturebox2;
  background: lightgreen;
  animation-delay: 300ms;
}

.wrapper .textbox {
  grid-area: textbox;
  background: white;
  animation-delay: 300ms;
}

.wrapper .footer {
  grid-area: footer;
  background: black;
  animation-delay: 400ms;
}

.wrapper .divider {
  grid-area: footer;
  background: white;
  animation-delay: 0ms;
}

.wrapper .grid-element {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  transistion: all 250ms;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.32);
  animation: fadein 0.25s ease-out normal backwards;
}

@keyframes fadein {

  0% {transform: scale(0);}
  80% {transform: scale(1.03);}
  100% {transform: scale(1);}

}
