body{
    width: 100vw;
    height:100vh;
}

/*collapsible list*/
.collapsible-list-wrapper{
    width: 375px;
    left: 200px;
    top: 500px;
    display:block;
    position: fixed;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #FFF;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid #979797;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #D8D8D8;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    border-bottom: 1px solid #979797;
}
.accordion:after {
    content: "";
    background-image: url('/images/+.svg');
    width: 16px;
    height: 16px;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "";
    background-image: url('/images/-.svg');
    width: 16px;
    height: 16px;
}

/*Apply button*/
.button-wrapper {
    width: 375px;
    left: 200px;
    top: 400px;
    display:block;
    position: fixed;
}
.apply-button{
    width: 134px;
    height: 40px;
    background-color: #BDE300;
    border: none;
    border-radius: 3px;
    color: clack;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*Carousel*/
.carousel-wrapper {
    width: 375px;
    left: 200px;
    top: 200px;
    display:block;
    position: fixed;
}
.carousel {
    background-color: #D8D8D8;
    width: 100%;
    height: 191px;
}
.carousel-left{
    width: 50%;
    height: 191px;
    box-sizing: border-box;
    position: relative;
    float: left;
}
.carousel-right{
    width: 50%;
    height: 191px;
    box-sizing: border-box;
    padding: 39px 25px 25px 0px;
    float: left;
}
.carousel-image{
    height: 114px;
    margin-top: -57px;

    position: absolute;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
